:root {
    --min-vw: 576;
    --max-vw: 992;
    --min-fs: 25;
    --max-fs: 36;
    --min-fs-px: 25px;
    --min-vw-px: 576px;

    --fs-range: calc(var(--max-fs) - var(--min-fs));
    --vw-range: calc(var(--max-vw) - var(--min-vw));

    --calculated-font-size: calc(
        var(--min-fs-px) + ((100vw - var(--min-vw-px)) * var(--fs-range)) /
            var(--vw-range)
    );

    --max-fs-px: 36px;
    --max-vw-px: 992px;

    --frame-bg-color: #f85c78;
    --frame-text-color: #fff;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    margin: 0 auto;
    max-width: var(--max-vw-px);
    width: 100%;
}

._wide-container {
    margin: 0 auto;
    max-width: none;
    width: 95%;
}

html {
    font-size: var(--min-fs-px);
    font-family: Poppins;
    scroll-behavior: smooth;
}

@media (min-width: 576px) {
    html {
        font-size: var(--calculated-font-size);
    }
}

@media (min-width: 992px) {
    html {
        font-size: var(--max-fs-px);
    }
    ._wide-container {
        width: calc(100% - 2rem);
    }
}
