:root {
    --mobile-gallery-min-height: 240px;
    --mobile-gallery-prefer-height: 60vw;
    --mobile-gallery-max-height: 595.2px;
    --gallery-heights: clamp(
        var(--mobile-gallery-min-height),
        var(--mobile-gallery-prefer-height),
        var(--mobile-gallery-max-height)
    );
}
.preview__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--gallery-heights) 2rem 8rem;
    grid-template-areas:
        "gallery"
        "title"
        "included";
    line-height: 2rem;
}
@media (min-width: 992px) {
    .preview__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2rem 2rem 397px;
        grid-template-areas:
            "title title title"
            "controls controls controls"
            "gallery gallery included";
    }
}

/*------------------------------preview__title----------------------------*/
.preview__title {
    grid-area: title;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px var(--frame-bg-color) solid;
}
.preview__title > :first-child {
    padding-left: 1rem;
}
.preview__title > :last-child {
    padding-right: 1rem;
}
.preview__title h1 {
    font-weight: 500;
    white-space: nowrap;
    font-size: 0.7rem;
}
@media (min-width: 576px) {
    .preview__title h1 {
        font-size: 0.8rem;
    }
}
@media (min-width: 768px) {
    .preview__title h1 {
        font-size: 0.9rem;
    }
}
.preview__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.preview__rating img {
    height: 0.9rem;
}

/*----------------------preview__controls--------------------------*/
.preview__controls {
    display: none;
    grid-area: controls;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.5rem;
}
@media (min-width: 992px) {
    .preview__controls {
        display: flex;
    }
}
.preview__controls > :first-child {
    padding-left: 0.5rem;
}
.preview__controls > :last-child {
    padding-right: 0.5rem;
}
.preview__controls > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}
.preview__controls img {
    height: 1rem;
}
.control__share {
    position: relative;
    cursor: pointer;
}
/*share-tooltip*/
@media (hover: hover) {
    .control__share img:hover + .control__share-tooltip {
        display: block;
    }
}
.control__share-tooltip {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    inset: 25% 125% auto auto; /*top: 25%; right: 125%;*/
    text-align: center;
    width: 2rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 0.3rem;
    opacity: 0.7;
}
/*I took it from https://css-tricks.com/snippets/css/css-triangle/*/
.control__share-tooltip::after {
    content: "";
    position: absolute;
    inset: 25% auto auto 100%; /*top: 25%; left: 100%;*/
    border-top: 0.25rem solid transparent;
    border-bottom: 0.25rem solid transparent;
    border-left: 0.25rem solid black;
}

/*---------------------preview__gallery----------------------*/
.preview__gallery {
    grid-area: gallery;
    position: relative;
    overflow: hidden;
}
.gallery::before {
    content: "";
    position: absolute;
    inset: 0 auto auto 0; /*top: 0; left: 0;*/
    width: 100%;
    height: 100%;
    background-image: url("/padelSquashBookingWebsite/assets/loader.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 2rem;
    z-index: -1;
}
.gallery__image {
    position: absolute;
    height: 100%;
    width: 100%;
}
.animate-transition {
    transition: left 0.3s ease-in-out;
}
#gallery__main {
    left: 0;
}
#gallery__prev {
    left: -100%;
}
#gallery__next {
    left: 100%;
}
.gallery__indicator {
    display: none;
}
@media (hover: hover) {
    .gallery__indicator {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    #gallery__left-pointer,
    #gallery__right-pointer {
        opacity: 0.5;
        height: 2rem;
    }

    #gallery__left-pointer {
        left: -1rem;
    }

    #gallery__right-pointer {
        right: -1rem;
    }
    #gallery__left-pointer.hovered,
    #gallery__right-pointer.hovered {
        display: block;
    }
    #gallery__left-pointer:hover,
    #gallery__right-pointer:hover {
        opacity: 0.7;
    }
    #gallery__price-hint {
        display: block;
        height: 4rem;
        inset: 0 auto auto 15%; /*left: 15%; top: 0;*/
        transform: translateX(-50%);
        opacity: 0.7;
    }
}

/*---------------------preview__included--------------------------*/
.preview__included {
    grid-area: included;
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.preview__included > * {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.preview__included div:not(.equipment__tooltip) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    gap: 1rem;
    flex-grow: 1;
}
.preview__included > div > :last-child {
    display: none;
}
@media (min-width: 576px) {
    .preview__included {
        font-size: 0.6rem;
    }
}
@media (min-width: 768px) {
    .preview__included {
        font-size: 0.7rem;
    }
}
@media (min-width: 992px) {
    .preview__included {
        font-size: 0.5rem;
    }
    .preview__included > div > :last-child {
        display: block;
    }
    .preview__included div:not(.equipment__tooltip) {
        flex-grow: 0;
    }
}
.preview__included img {
    height: 1rem;
}
.equipment__tooltip {
    position: relative;
    cursor: pointer;
    color: red;
}
@media (hover: hover) {
    .equipment__tooltip:hover > ul {
        display: block;
    }
}
.equipment__tooltip ul {
    display: none;
    position: absolute;
    inset: 70% 0 auto auto; /*top: 70%; right: 0;*/
    background-color: white;
    color: black;
    padding: 0.1rem;
    font-size: 0.4rem;
    font-weight: bold;
    width: auto;
    height: auto;
    line-height: 130%;
    border-radius: 0.1rem;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
}
