.footer-template {
    width: 100%;
    z-index: 40;
    background-color: var(--frame-bg-color);
    color: var(--frame-text-color);
}

.footer-template__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    line-height: 1rem;
    gap: 0.5rem;
}

.footer-template__container > :first-child {
    padding-left: 1rem;
}

.footer-template__container > :last-child {
    padding-right: 1rem;
}

.footer-template__container > * {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 0.6rem;
}

.footer-template__container > * a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.footer-template__container > * a img {
    height: 0.5rem;
}

.navigation__site-map {
    white-space: nowrap;
}
