.main {
    padding-top: 2em;
    padding-bottom: 0.5em;
    flex: 1 1 auto;
}

/* Laptops and Desktops - 992px and above */
@media (min-width: 992px) {
    .main {
        padding-top: 3.5em;
    }
}
